

/* Boxed Size Section Style */

.boxed{ max-width: 1220px;}


.margin-right-left-auto{ margin: 0 auto;}


.m-top-1{margin-top: 1rem;}
.m-bottom-1{margin-bottom: 1rem;}
.margin-y-1{margin-top: 1rem; margin-bottom: 1rem;}
.margin-y-2{margin-top: 2rem; margin-bottom: 2rem;}
.margin-top-5rem{margin-top: -7rem;}




.border-r-5{ border-radius: 5px;}

.section-title-box{
    padding: 0 3rem;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 600;
}
@media screen and (max-width:850px){
    .section-title-box{
        padding: 0 2rem;
    }
    .section-title{
        font-size: 2rem;
    }
}



