.nav-section-wrapper{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.664);
    transition: all .6s;
}

.nav-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid var(--grey-1);
    position: relative;
    
    
}

.nav-logo{
    width: 18vw;
    margin-right: auto;
}

@media screen and (max-width:750px){.nav-logo{ width: 30vw; }}
@media screen and (max-width:450px){.nav-logo{ width: 40vw; }}

.nav-logo .logo{
    width: 100%;
    height: auto;
    padding: 1.5rem;
}

.nav-options{
    display: flex;
    align-items: center;
}
.nav-option-wrapper{
    border-right: 1px solid var(--grey-1);
    display: flex;
    align-items: center;
    padding: 2rem;
    
}

.nav-option-wrapper img{
    width: 2rem;
    height: auto;
}




.nav-option{
    cursor: pointer;
    width: fit-content;
    height: auto;
    font-size: 1.4rem;
 }

.nav-option .nav-option-text{
   margin-left: 1rem;
 }


.nav-option-wrapper:hover{
    border-bottom: 2px solid var(--dark-1);
 }


 .menu-icon{
    display: none;
 }



@media screen and (max-width:850px){
   .menu-icon{
        display: block !important;
    }
}


.nav-hide-on-800{
    display: flex ;

}


@media screen and (max-width:850px){

    .nav-option-wrapper{
       
        padding: 1.7rem;
    }
    

    .nav-option-wrapper img{
        width: 1.8rem;
        height: auto;
    }
    
    .nav-hide-on-800{
       
        background-color: rgb(255, 255, 255);
        /* display: none; */
        flex-direction: column;
        position: absolute;
        border-right: 1px solid black;
        max-width: 100vw;
        height: 100vh;
        top:0rem;
        left:-100%;
        transition: all .8s;
        z-index: 100;
       
        
    
    }
   
}

.left-open{
    left:0%;
}






/* 

===========================
Swipper Slider
===========================

*/
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper{
    padding: 1rem 1rem 0 1rem;
    
}

.mySwiper a{
    
    color: var(--grey-2);
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.mySwiper a:hover{

   color: var(--dark-1);
   cursor: pointer;
   border-bottom: 2px solid var(--dark-1);
     
}
/* 
 Appera Nav bar on Up scroll
*/

.fixed-nav{
    transition: all .6s;
    position:fixed;
    z-index: 1000;
    width: 100%;
    top:0;
    left:0;
}
