
.posts-style1-wrapper{
    padding-bottom: 5rem;
}


.posts-style1{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white-1);
    padding: 3.3rem;
    border-radius: 13px;
}



.posts-style1-post1{
   flex: 0 0 60%;
   width: 60%;

   position: relative;
}


@media screen and (max-width:830px){
    .posts-style1{flex-direction: column; align-items: center; padding: 2rem;}
    .posts-style1-post1{ flex: 0 0 98%; width: 98%;}
     
}

@media screen and (max-width:630px){
    .posts-style1{ padding: 1.5rem .8rem;}

     
}

.posts-style1-post1-img-wrapper{
    width: 100%;
    height: 40rem;
}

@media screen and (max-width:830px){
    .posts-style1-post1-img-wrapper{height: 30rem;}}

.posts-style1-post1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5)
}
.posts-style1-post1-info {
    position: absolute;
    left:2.5rem;
    bottom: 2rem;
    right: auto;
    width: 60%;
    
}
@media screen and (max-width:830px){
   
    .posts-style1-post1-info { width: 90%;} 
    .posts-style1-post1-img-wrapper{height: 60vw;}
}
@media screen and (max-width:600px){
    .posts-style1-post1-info .h-1{ font-size: 2rem;}
}


.posts-style1-post1-info .sm-text,.posts-style1-post1-title{
    color:var(--white-1);
}


.posts-style1-post1 .post-bookmark{
    position: absolute;
    width: 3rem;
    bottom: 2rem;
    right: 2rem;
    
}
.posts-style1-post1 .post-bookmark svg{fill:white !important;}


.posts-style1-side-posts{
    margin-left: auto;

    flex: 0 0 35%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts-style1-side-posts .section-title{
    text-align: left;
}

.posts-style1-side-post{
    
    display: flex;
    
}

.posts-style1-side-post:not(:last-child){
    margin-bottom: 1.5rem;
}

@media screen and (max-width:830px){
    .posts-style1-side-posts{ flex: 0 0 99%; width: 99%; margin-top: 2rem; margin-left: none;}
        
}

.posts-style1-side-post__img-wrapper{
    
    flex: 0 0 40%;
    width: 40%;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1rem;
    
}
@media screen and (max-width:830px){
    .posts-style1-side-post__img-wrapper{
        flex: 0 0 50%;
        width: 50%;
        height: 100px;      
    } 
}

.posts-style1-side-post__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.posts-style1-side-post__info {
    position: relative;
}

.posts-style1-side-post__info .post-bookmark{
    position: absolute;
    right: .5rem;
    top:.3rem;
}


